.loginScreen {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .loginCard {
    width: 400px;
    // margin-top: 200px;
    .loginHeader {
      max-width: 400px;
      text-align: center;
      color: var(--grey-primary-color);
      .title {
        font-weight: 700;
        font-size: 1.8rem;
        color: #029449;
      }
    }
  }
}
