.getSelected {
  background-color: #f1ffe3;
  border: 1.5px solid #06c05f;
  border-radius: 3px;
  height: 36px;
  font-weight: 700;
}
.allSelected {
  font-weight: 700;
  height: 36px;
  border-radius: 3px;
  border: 1.5px solid #c6c6c6;
  margin: 2px 0;
}
