.chat {
  width: 100%;
  height: calc(100vh - 122px);
  .chat__main {
    height: 100%;
    width: 100%;
  }
  .chat__mainHeader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(235, 249, 235);
  }
  .message__container {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .chat__footer {
    padding: 8px;
    background-color: #eef9eb;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .message {
    width: 83%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 10px;
  }
  .sendBtn {
    width: 15%;
    height: 40px;
    position: absolute;
    right: 2%;
    top: 7px;
  }
  .message__recipient {
    background-color: #f5ccc2;
    padding: 1px 10px;
    border-radius: 4px;
    line-height: 20px;
    width: 400px;
    font-size: 15px;
  }
  .message__sender {
    background-color: rgb(194, 243, 194);
    max-width: 400px;
    padding: 1px 10px;
    border-radius: 4px;
    margin-left: auto;
    line-height: 20px;
    font-size: 15px;
  }
  .message__chats > p {
    font-size: 13px;
  }
  .sender__name {
    text-align: right;
  }
  .message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
  }
}
