.chat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .chat__main {
    height: 100%;
    flex: 1;
  }
  .chat__mainHeader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #f9f5eb;
  }
  .message__container {
    width: 100%;
    height: 60vh;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
  }

  .message__container > * {
    margin-bottom: 10px;
  }
  .chat__footer {
    padding: 5px;
    background-color: #f9f5eb;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .message {
    width: 83%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 10px;
  }
  .sendBtn {
    width: 15%;
    height: 40px;
    position: absolute;
    right: 2%;
    top: 5px;
  }
  .message__recipient {
    background-color: #f5ccc2;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  .message__sender {
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
  }
  .message__chats > p {
    font-size: 13px;
  }
  .sender__name {
    text-align: right;
  }
  .message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
  }
}
