@import '~@semi-bot/semi-theme-wzz/semi.min.css';
html[data-theme='dark'] {
  --primary-color: #c1c1c1;
  --grey-primary-color: rgb(174 188 205 / 80%);
  --grey-background-color: rgb(36, 36, 36);
  --primary-background-color: rgb(29, 29, 29);
  --footer-background-color: rgba(36, 36, 36, 1);
  --navbar-background-color: #242424;
  --secondary-color: rgba(255, 255, 255, 0.5);
  --link-color: #34a8eb;
  --semi-page-active-color: rgb(84, 169, 255);
  --semi-page-active-background-color: rgba(84, 169, 255, 0.2);
  --semi-page-hover-background-color: rgb(15, 15, 15);
  --theme-icon: url('../../public/images/theme_dark.svg');
  --login-background-color: rgba(208, 208, 208, 0.95);
}

html[data-theme='light'] {
  --primary-color: #333333;
  --grey-primary-color: #818181;
  --grey-background-color: rgb(243, 243, 243);
  --primary-background-color: rgba(255, 255, 255, 1);
  --footer-background-color: #f4f5f5;
  --navbar-background-color: rgba(234, 234, 234, 0.5);
  --secondary-color: #666666;
  --link-color: #0070f3;
  --semi-page-active-color: #333333;
  --semi-page-active-background-color: rgb(234, 245, 255);
  --semi-page-hover-background-color: rgb(244, 245, 245);
  --theme-icon: url('../../public/images/theme_light.png');
  --login-background-color: rgba(255, 255, 255, 0.3);
}
html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: var(--primary-color);
  overflow: hidden;
  --semi-color-primary-light-default: #c9e5a9;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.forbidScroll {
  height: 100vh;
  overflow: hidden;
}

#__next {
  height: 100vh;
  overflow: auto;
}
#nprogress .bar {
  background: #1ad879 !important; //自定义颜色
}
#nprogress .peg {
  box-shadow:
    0 0 10px #1ad879,
    0 0 5px #1ad879 !important;
}
#nprogress .spinner-icon {
  border-top-color: #1ad879 !important;
  border-left-color: #1ad879 !important;
}
