.loginScreen {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500;
  .loginCard {
    width: 400px;

    .loginHeader {
      max-width: 400px;
      text-align: center;

      .title {
        font-weight: 700;
        font-size: 1.8rem;
        color: #029449;
      }
    }
  }
}
