.layout {
  // background-color: var(--primary-background-color);
  background-size: 23px 23px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI0IiBzdHlsZT0iZmlsbDogcmdiKDIzMCwgMjMwLCAyMzApOyIvPjwvc3ZnPgo=);
  background-color: var(--primary-background-color);
  height: 100vh;
  .main {
    margin: 20px auto;
    width: 93vw;
    border-radius: 10px;
    min-width: 450px;
    height: 80vh;
    background-color: var(--login-background-color);
    box-shadow: 0px 4px 14px 6px #0000002b;
    display: flex;
    min-height: 450px;
    overflow: hidden;
    .mainLoginSvg {
      width: 50%;
      height: 80vh;
      background-color: rgba(30, 128, 30, 0.1);
      position: relative;
      text-align: center;
      .mainSvg {
        width: 80%;
        position: absolute;
        left: 10%;
        bottom: 0;
      }
    }
    .mainLoginContent {
      height: 100%;
      width: 50%;
      min-width: 450px;
      display: flex;
      justify-self: center;
      align-self: center;
      .loginBox {
        margin: auto;
        padding: 20px 8px 20px;
        width: 450px;
        // background-color: var(--login-background-color);
        // box-shadow:
        //   0 4px 8px -4px rgb(0 0 0 / 13%),
        //   0 6px 16px 0 rgb(0 0 0 / 8%),
        //   0 12px 24px 16px rgb(0 0 0 / 4%);
        border-radius: 10px;
        min-height: 400px;
      }
    }
  }
}
