.layout {
  // background-color: var(--primary-background-color);
  background-size: 23px 23px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI0IiBzdHlsZT0iZmlsbDogcmdiKDIzMCwgMjMwLCAyMzApOyIvPjwvc3ZnPgo=);
  .main {
    margin: 0 auto;
    max-width: 1100px;
    .loginBox {
      margin: 30px auto;
      padding: 20px 8px 20px;
      background-color: white;
      width: 450px;
      box-shadow:
        0 4px 8px -4px rgb(0 0 0 / 13%),
        0 6px 16px 0 rgb(0 0 0 / 8%),
        0 12px 24px 16px rgb(0 0 0 / 4%);
      border-radius: 10px;
      min-height: 400px;
    }
  }
}
